PORT=5000
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/wordle
JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
GOOGLE_AI_API_KEY=your_google_ai_studio_key_here
WORD_REFILL_THRESHOLD=30
WORD_FETCH_COUNT=3000
WORD_BATCH_SIZE=100
NODE_ENV=development
